main {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

main a,
main p,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main ul li {
  font-family: "Poppins", sans-serif;
}

.whyus .head h2,.product  h2,.most_product h2 {
  font-size: 45px;
  font-weight: 500;
}

.whyus .body .card {
  width: 100%;
}

.whyus .body .card .imgg {
  height: 100px;
  overflow: hidden;
}

.whyus .body .card .imgg img {
  height: auto;
  /* overflow: hidden; */
}

.whyus .body .card .card-title {
  min-height: 54px;
  line-height: 28px;
  text-align: center;
}


.product {
  color: #fff;
  background-image: url("../Images//sectionbackimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  padding: 50px 0;
}
.product .product_listing ul{
  padding: 0;
  margin: 0;
}

.product .product_listing ul li {
  padding: 0;
  margin: 5px 0;
  background: none;
  border: none;
  color: #fff;
}


.product button {
  padding: 15px 50px !important;
  border-radius: 1px !important;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.most_product .body button {
  padding: 15px 50px !important;
  border-radius: 1px !important;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 20px 0;
}

.most_product .body_heading{
  position: relative;
}

.most_product .body_heading h4::after{
  content: '';
  position: absolute;
  top: 30% !important;
  left: -100% !important;
  background-color: #da251c !important;
  width: 100%;
  height: 4px;
}

.most_product .body_detail_img img {
  width: 20% !important;
}


@media only screen and (max-width: 991px) {
  .whyus  .text  p{
    width: 100% !important;
  }

  .whyus  .body {
    gap: 50px;
  }

  .product .body .product_listing {
   text-align: center;
  }

}

@media only screen and (max-width: 768px) {
  .product button {
    font-size: 20px;
  }
  .most_product .body .body_detail img{
    width: 100%;
    max-width: 300px;
  }
  .most_product .body .body_detail .col-md-3{
    text-align: center;
  }
  .most_product .body .body_detail_img  img{
    width: 100%;
    max-width: 70px;
  }
}

@media only screen and (max-width: 450px) {
  .product h2 {
      font-size: 35px !important;
  }
  .product button {
    padding: 15px 30px !important;
    font-size: 15px !important;
  }

  .most_product h2{
    font-size: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .most_product button {
    padding: 15px 0 !important;
    font-size: 19px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 300px) {
  .product h2 {
      font-size: 30px !important;
  }
  .product button {
    padding: 15px 10px !important;
    font-size: 12px !important;
  }
  
  .most_product h2{
    font-size: 20px !important;
  }
  .most_product h4{
    font-size: 17px !important;
  }
  .most_product button {
    padding:  0 !important;
    font-size: 14px !important;
    width: 100% !important;
  }
}