.header .navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  z-index: 800;
  /* background-image: url('../../assets//Images//bannerImage.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

/* .header .navbar.fixed_{
    background-color: #03bde6 !important;   
} */

header .navbar-brand {
  width: 10%;
}

header img {
  width: 100%;
  margin: auto;
}

header a {
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

header .navbar-nav a {
  margin: 0 20px;
  position: relative;
}

header .navbar-nav a::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #da251c;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

header .navbar-nav a:hover::after {
  transform: scaleX(1);
}

header .navbar-nav a:last-child {
  margin-right: 0;
}

header .container {
  position: relative;
}

header .navbar .navbar-toggler {
  border: none !important;
  /* border: 1px solid #fff !important; */
}

header .navbar .navbar-toggler-icon {
  filter: invert(1);
}

header .navbar .container::after {
  content: "";
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
  right: -100% !important;
  background-color: #da251c !important;
  width: 100%;
  height: 4px;
}

@media only screen and (max-width: 991px) {
  header .navbar-brand {
    width: 90px;
  }
  header .navbar .container {
    max-width: 1320px;
  }

  header .navbar {
    background-color: #03bde6 !important;
  }
  header .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  header .navbar .navbar-toggler-icon{
    /* width: 10%; */
    width: 50px;
  }
  header .navbar-nav a::after{
      content: none;

  }
}
